<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/finance/stylescustomerorders.css">
<link rel="stylesheet" href="/css/finance/mqsstylescustomerorders.css">
<script src="/socket.io/socket.io.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>

    <%- include('../includes/navigation.ejs') %>
  
    <main>
            
     
      <div class="customer-orders">
        <h1>Administrar Ordenes</h1>
        <p>Finaliza los pedidos de los clientes que estan listos para pagar</p>
        <% if (!orders) { %>
            <h2> No hay ordenes listas para pagar.</h2>
            <%  }else{ %>
            <table class="order-details-table">
                <thead>                 
                    
                    <th >Orden</th>
                   <!-- <th >Mesa</th>-->
                    <th >Cliente</th>
                    <th >Email</th>   
                    <th >Monto</th> 
                    <th >Opciones</th>                 
                </thead>
                <tbody>
                    <% for (var order of orders) { %>
                  <tr class="item-detail-row">
                    <td data-label="Id"><%= order.orderId %></td>                    
                    

               <!--      <td data-label="Motivo"><%= order.tableId %></td>-->
                  

                    <td data-label="Id Estado"> <%= order.name %> <%= order.lastName %>  </td>

                    <td data-label="Estado"><%= order.email %> </td>

                    <td data-label="Estado">$<%= order.monto %> </td>
                   
                    <td data-label="Opciones">
                        <a  href="/finance/customer-orders/details/<%= order.orderId %>"><input type="image" src="/media/configuraciones.png" alt="Submit" width="20px"></a>
                       
                            
                         
                       
                         </td>
                 
                  </tr>
                  
                
        
                  <% } %>
                  
                </tbody>
              </table>
              <%  } %>
    </div>
</main> 

<script>
    //agregado para manejar el refresco
$(function () {
        console.log("escuchando");
        var socket = io("http://52.67.94.106:3000");
        socket.connect()
        console.log(socket);
        socket.on('sendPayment', function(msg){
            console.log("recibido mensaje: "+ msg);
            //esto debiese bastar
            location.reload();
            
            //Por si se quiere hacer un GET
            /*$.get(
                "somepage.php",
                {paramOne : 1, paramX : 'abc'},
                function(data) {
                    alert('page content: ' + data);
                 }
            ); */
        });
      });
</script>

</script>

    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>