<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/finance/stylesorders.css">
<link rel="stylesheet" href="/css/finance/mqsstyleorders.css">
</head>

<body>

    <%- include('../includes/navigation.ejs') %>
   <main class="order-details">
        <h1>Detalle de Orden</h1>
        <p>Al finalizar la orden el cliente recibira la boleta por correo</p>


        <article class="order">
            <section class="general-information"><h2>Información General</h2> 
                <div class="info">
                   
                    <h4>Nro. Orden:  <%= order[0].id %></h4>
                    <h4>Cliente: <%= order[0].name %> <%= order[0].lastName %></h4>
                    <h4>Estado: <%= order[0].description %></h4>
                    <h4>Email: <%= order[0].email %></h4>
                    <h4 style="font-weight: bold;">Total a pagar: $<%= order[0].monto %></h4>
                    <div class="btns">
                        <form id="end-order-form" action="/finance/customer-orders/close/<%= order[0].id %>" class="" method="POST">                                
                            <input type="hidden" name="email" id="email" value="<%= order[0].email %>">
                            <input type="hidden" name="userId" id="userId" value="<%= order[0].customerId %>">
                            <button id="end-order-btn" class="main-button" type="submit">Finalizar Orden</button>
                            
                        </form>

                        
                        
                    </div>
                    
                </div>
            </section>



            
            <section class="order-products">
                <h2>Productos de la Orden</h2>
                <% if (!items) { %>
                    <h4> No hay items en la orden.</h4>
                    <%  }else{ %>
                <table class="order-details-table">
                    <tr>
                        
                        <th>Nombre Item</th>
                        <th>Cantidad</th>
                        <th>Valor</th>
                        <th>Total</th>
                    </tr>
                    <% for (var item of items) { %>
                        <tr class="item-detail-row">
                            <td class="item-quantity"><%= item.name %></td>
                            <td class="item-name"><%= item.quantity %></td>
                            <td class="item-price">$<%= item.price %></td>
                            <td class="item-price">$<%= item.total %></td>
                       </tr>                     
                       <% } %>
                    
                </table>
                  <%  } %>
            </section>
           
        </article>
    </main>



</main>

    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>