<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/customers/stylesnew-order.css">
<link rel="stylesheet" href="/css/customers/mqsstylesnew-order.css">
</head>

<body>


    <%- include('../includes/navigation.ejs') %>

    <div id="menu-container">

        <div id="sidebar">
            <nav id="sidebar-menu">
                <a href="#main-courses-category">Platos de fondo</a>
                <a href="#sides-category-hidden">Acompañamientos</a>
                <a href="#salads-category">Ensaladas</a>
                <a href="#desserts-category">Postres</a>
                <a href="#beverages-category">Bebestibles</a>
            </nav>
        </div>

        <div id="sidebar-mobile">
            <div id="sidebar-mobile-wrapper">
                <nav id="sidebar-menu-mobile">
                    <ul>
                        <li><a href="#main-courses-category"><img src="/media/main-courses-icon.svg" alt="category"></a>
                        </li>
                        <li><a href="#sides-category"><img src="/media/sides-icon.svg" alt="category"></a></li>
                        <li><a href="#salads-category"><img src="/media/salads-icon.svg" alt="category"></a></li>
                        <li><a href="#desserts-category"><img src="/media/desserts-icon.svg" alt="category"></a></li>
                        <li><a href="#beverages-category"><img src="/media/beverages-icon.svg" alt="category"></a></li>
                    </ul>
                </nav>

                    
                    <!--If isExtra is true then we append the userId to the form action and the PUT hidden input-->
                    <% if(!isExtra){ %>
                        <form action="/orders" name="add-order-form" id="add-order-form-sidebar" method="POST"
                            onsubmit="appendOrder()">
                            <input type="hidden" name="userId" id="userId" value="<%= userId %>">
                    <% } else { %>
                        
                            <form action="/orders/<%= userId %>" name="add-order-form" id="add-order-form-sidebar" method="POST"
                    onsubmit="appendOrder()">
                        <input type="hidden" name="_method" id="_method" value="put">
                    <% } %>  
                    
                    <!--Se envia el ID de usuario como campo invisible para identificar la orden YA NO, VA EN EL FORM AHORA-->
                    <!--<input type="hidden" name="userId" id="userId" value="<%# userId %>">-->

                    <button type="submit">
                        <% if (!isExtra) { %>
                        Ingresar Orden
                        <% } else { %>
                        Agregar extras
                        <% } %>
                        <p class="order-detail-sidebar">$<span class="order-detail-price">0</span></p></button>
                </form>
            </div>
        </div>

        <main>

            <h1><%= pageTitle %></h1>
            <div class="order-details-group">
                <h3 class="order-detail">Total: <i>$<span class="order-detail-price">0</span></i></h3>
                
                <!--If isExtra is true then we append the userId to the form action and the PUT hidden input-->
                    <% if(!isExtra){ %>
                        <form action="/orders" name="add-order-form" id="add-order-form" method="POST"
                            onsubmit="appendOrder()">
                            <input type="hidden" name="userId" id="userId" value="<%= userId %>">
                    <% } else { %>
                            <form action="/orders/<%= userId %> " name="add-order-form" id="add-order-form" method="POST"
                    onsubmit="appendOrder()">
                        <input type="hidden" name="_method" id="_method" value="put">
                    <% } %>   

                    <!--Se envia el ID de usuario como campo invisible para identificar la orden YA NO, VA EN EL FORM AHORA-->
                    <!--<input type="hidden" name="userId" id="userId" value="<%# userId %>">-->


                    <button type="submit">
                        <% if (!isExtra) { %>
                        Ingresar Orden
                        <% } else { %>
                        Agregar extras
                        <% } %>
                    </button>

                </form>
            </div>

            <!-- If there are menu items in the db-->
            <% if(menuItems) { %>

                <!--This will hold the value of the quantity-->
                <% let itemQty = 0; %> 

            <!--EJS sucks so it wont compile a proper for with if statements and html between them correctly. THis is why the solution for this repeats a for loop and an if statement in every category. -->

            <div class="menu-category" id="main-courses-category">
                <h2>Platos de Fondo</h2>
                <div class="menu-category-items">
                    <!--Item se agrega -->
                    <!-- Ademas se verifica si es q se esta pidiendo extra, si es asi se usa el some() para verificar q exista un objeto de un array de objs con un id igual al q se esta loopeando, si se encuentra entonces para obtener ese objeto se usa find() con el mismo callback-->
                    <% for(const item of menuItems) {%>
                        <% if(item.categoryId === 1) { %>
                            <% if (isExtra && currentOrder.some(orderItem => orderItem.id === item.id) ) {%> 
                                <% itemQty = currentOrder.find(orderItem => orderItem.id === item.id).OrderDetails.quantity %>
                            <% } %> 
                    <div class="menu-item">
                        <!--From menuItemsImages array which contains the names of the imamges we find one that starts with the id of the item. If it finds it then the name of the image will be obtained and the image will be retrieved -->
                        <img src="/media/menuItemsImages/<%= menuItemsImages.find(imgName => imgName.startsWith(item.menuImageId)) %>"
                            alt="item">
                        <div class="menu-item-info">
                            <h3><%= item.name %></h3>
                            <p class="menu-item-description"><%= item.description %></p>
                            <p class="menu-item-price">$<span><%= item.price %></span></p>
                            <div class="menu-item-quantity-group">
                                <label for="menu-item-quantity">Cantidad: </label>
                                <input type="number" name="menu-item-quantity" id="menu-item-quantity"
                                    class="fill-input" min="0" value="0" placeholder="Cantidad" step="1">
                                    <!--We created a hidden input to store the current oprder quantity of an item if extra=true-->
                                    <input type="hidden" name="currentItemQty" value=<%= itemQty%>>
                            </div>
                        </div>
                        <input type="hidden" name="itemId" value=<%= item.id %>>
                        <button type="button" class="main-button update-order-btn">Actualizar Orden</button>
                    </div>
                    <!--Item qty is set to 0 again-->
                            <% itemQty = 0; %> 
                        <% } %>
                    <% } %>
                </div>
            </div>

            <div class="menu-category" id="sides-category">
                <h2>Acompañamientos</h2>
                <div class="menu-category-items">
                    <!--Item se agrega -->
                    <!-- Ademas se verifica si es q se esta pidiendo extra, si es asi se usa el some() para verificar q exista un objeto de un array de objs con un id igual al q se esta loopeando, si se encuentra entonces para obtener ese objeto se usa find() con el mismo callback-->
                    <% for(const item of menuItems) {%>
                    <% if(item.categoryId == 2) { %>
                        <% if (isExtra && currentOrder.some(orderItem => orderItem.id === item.id) ) {%> 
                                <% itemQty = currentOrder.find(orderItem => orderItem.id === item.id).OrderDetails.quantity %>
                            <% } %> 

                    <div class="menu-item">
                        <img src="/media/menuItemsImages/<%= menuItemsImages.find(imgName => imgName.startsWith(item.menuImageId)) %>"
                            alt="item">
                        <div class="menu-item-info">
                            <h3><%= item.name %></h3>
                            <p class="menu-item-description"><%= item.description %></p>
                            <p class="menu-item-price">$<span><%= item.price %></span></p>
                            <div class="menu-item-quantity-group">
                                <label for="menu-item-quantity">Cantidad: </label>
                                <input type="number" name="menu-item-quantity" id="menu-item-quantity"
                                    class="fill-input" min="0" value="0"  placeholder="Cantidad" step="1">
                                    <!--We created a hidden input to store the current oprder quantity of an item if extra=true-->
                                    <input type="hidden" name="currentItemQty" value=<%= itemQty%>>
                            </div>
                        </div>
                        <input type="hidden" name="itemId" value=<%= item.id %>>
                        <button type="button" class="main-button update-order-btn">Actualizar Orden</button>
                    </div>

                    <!--Item qty is set to 0 again-->
                        <% itemQty = 0; %> 
                    <% } %>
                <% } %>
                </div>
            </div>

            <div class="menu-category" id="salads-category">
                <h2>Ensaladas</h2>
                <div class="menu-category-items">
                    <!--Item se agrega -->
                    <% for(const item of menuItems) {%>
                    <% if(item.categoryId === 3) { %>
                        <% if (isExtra && currentOrder.some(orderItem => orderItem.id === item.id) ) {%> 
                                <% itemQty = currentOrder.find(orderItem => orderItem.id === item.id).OrderDetails.quantity %>
                            <% } %> 

                    <div class="menu-item">
                        <img src="/media/menuItemsImages/<%= menuItemsImages.find(imgName => imgName.startsWith(item.menuImageId)) %>"
                            alt="item">
                        <div class="menu-item-info">
                            <h3><%= item.name %></h3>
                            <p class="menu-item-description"><%= item.description %></p>
                            <p class="menu-item-price">$<span><%= item.price %></span></p>
                            <div class="menu-item-quantity-group">
                                <label for="menu-item-quantity">Cantidad: </label>
                                <input type="number" name="menu-item-quantity" id="menu-item-quantity"
                                    class="fill-input" min="0" value="0"  placeholder="Cantidad" step="1">
                                    <input type="hidden" name="currentItemQty" value=<%= itemQty%>>
                            </div>
                        </div>
                        <input type="hidden" name="itemId" value=<%= item.id %>>
                        <button type="button" class="main-button update-order-btn">Actualizar Orden</button>
                    </div>

                    <!--Item qty is set to 0 again-->
                        <% itemQty = 0; %> 
                    <% } %>
                <% } %>
                </div>
            </div>

            <div class="menu-category" id="desserts-category">
                <h2>Postres</h2>
                <div class="menu-category-items">
                    <!--Item se agrega -->
                    <% for(const item of menuItems) {%>
                    <% if(item.categoryId === 4) { %>
                        <% if (isExtra && currentOrder.some(orderItem => orderItem.id === item.id) ) {%> 
                                <% itemQty = currentOrder.find(orderItem => orderItem.id === item.id).OrderDetails.quantity %>
                            <% } %> 

                    <div class="menu-item">
                        <img src="/media/menuItemsImages/<%= menuItemsImages.find(imgName => imgName.startsWith(item.menuImageId)) %>"
                            alt="item">
                        <div class="menu-item-info">
                            <h3><%= item.name %></h3>
                            <p class="menu-item-description"><%= item.description %></p>
                            <p class="menu-item-price">$<span><%= item.price %></span></p>
                            <div class="menu-item-quantity-group">
                                <label for="menu-item-quantity">Cantidad: </label>
                                <input type="number" name="menu-item-quantity" id="menu-item-quantity"
                                    class="fill-input" min="0" value="0"  placeholder="Cantidad" step="1">
                                    <input type="hidden" name="currentItemQty" value=<%= itemQty%>>
                            </div>
                        </div>
                        <input type="hidden" name="itemId" value=<%= item.id %>>
                        <button type="button" class="main-button update-order-btn">Actualizar Orden</button>
                    </div>

                    <!--Item qty is set to 0 again-->
                        <% itemQty = 0; %> 
                    <% } %>
                <% } %>
                </div>
            </div>

            <div class="menu-category" id="beverages-category">
                <h2>Bebestibles</h2>
                <div class="menu-category-items">
                    <!--Item se agrega -->
                    <% for(const item of menuItems) {%>
                    <% if(item.categoryId === 5) { %>
                        <% if (isExtra && currentOrder.some(orderItem => orderItem.id === item.id) ) {%> 
                                <% itemQty = currentOrder.find(orderItem => orderItem.id === item.id).OrderDetails.quantity %>
                            <% } %> 

                    <div class="menu-item">
                        <img src="/media/menuItemsImages/<%= menuItemsImages.find(imgName => imgName.startsWith(item.menuImageId)) %>"
                            alt="item">
                        <div class="menu-item-info">
                            <h3><%= item.name %></h3>
                            <p class="menu-item-description"><%= item.description %></p>
                            <p class="menu-item-price">$<span><%= item.price %></span></p>
                            <div class="menu-item-quantity-group">
                                <label for="menu-item-quantity">Cantidad: </label>
                                <input type="number" name="menu-item-quantity" id="menu-item-quantity"
                                    class="fill-input" min="0" value="0"  placeholder="Cantidad" step="1">
                                    <input type="hidden" name="currentItemQty" value=<%= itemQty%>>
                            </div>
                        </div>
                        <input type="hidden" name="itemId" value=<%= item.id %>>
                        <button type="button" class="main-button update-order-btn">Actualizar Orden</button>
                    </div>

                    <!--Item qty is set to 0 again-->
                        <% itemQty = 0; %> 
                    <% } %>
                <% } %>
                </div>
            </div>

            <% } %>

        </main>
    </div>

    <%- include('../includes/footer.ejs') %>

    <script src="/js/new-order.js"></script>

    <%- include('../includes/end.ejs') %>