<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/products/mqsstylesproducts.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="/js/select2.js"></script>

</head>

<body>

    <%- include('../includes/navigation.ejs') %>
    <main>
      <div class="container">
    
      <div class="order">
        <h1>Solicitud de Inventario</h1>
       
        <div class="info">
          <span><h5>Id: <%= inventoryOrder[0].id %></h5></span>
          <h5>Descripción: <%= inventoryOrder[0].orderDescription %></h5>
          <h5>Estado: <%= inventoryOrder[0].statusDescription %></h5>
          <h5>Fecha de Creación: <%= inventoryOrder[0].createdAt %></h5>
          <h5>Ultima Modificación: <%= inventoryOrder[0].updatedAt %></h5>
          <% if (inventoryOrder[0].statusId==1) { %>
          <form action="/warehouse/inventory-orders" class="" method="POST">    
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" id="orderId" name="orderId" value="<%= order %>">     
          <button class="btn3" type="submit">Finalizar Orden</button>
          
          </form>
          <% } %>
        </div> <!--ORDER INFO-->
       
          
       
        
      </div> <!--ORDER-->
    </div>
      <% if (!orderProducts) { %>
        <section class="crud-order">
          <table class="table">
            <thead>
              <th>Id</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Categoria</th>
              <th>Opciones</th>
            </thead>
            <tbody>
              <tr>
                <td>-</td>
                <td>-</td>                    
                <td>-</td>              
                <td>-</td>
                <td>-</td>             
              </tr>
            </tbody>
          </table>
        </section>
          <% } else { %>       
            <div class="container">  
            <section class="crud-order">
              <table class="table">
                <thead>
                  <th>Id</th>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Categoria</th>
                  <th>Opciones</th>
                </thead>
                <tbody>
                  <% for (var product of orderProducts) { %>                
                  <tr>                  
                    <td data-label="Id"><%= product.productId %></td>   
                    <td data-label="Producto"><%= product.product %></td>
                    <td data-label="Cantidad"><%= product.quantity %></td>                    
                    <td data-label="Categoría"><%= product.category %></td>
                   
                    <td data-label="Opciones">
                      <% if (inventoryOrder[0].statusId==1) { %>
                      <div class="opc">
                    <form action="/warehouse/inventory-orders/products" class="common-form" method="POST">
                      <input type="hidden" id="product" name="product" value="<%= product.productId %>">
                      <input type="hidden" name="_method" value="DELETE">
                      <input type="hidden" id="order" name="order" value="<%= order %>"><input type="image" src="/media/eliminar.png" alt="Submit" width="20px">  
                  </form>
                  <form action="/warehouse/inventory-orders/products/update" class="common-form" method="POST">
                    <input type="hidden" id="order" name="order" value="<%= order %>">                  
                    <input type="hidden" id="productId" name="productId" value="<%= product.productId %>"> 
                    <input type="hidden" id="product" name="product" value="<%= product.product %>">      
                    <input type="hidden" id="quantity" name="quantity" value="<%= product.quantity %>">      
                    <input type="image" src="/media/actualizar.png" alt="Submit" width="20px"></form></div>
                    <% } else { %>
                     ----  </td>                  
                    <% } %>     
                  </tr>      
                  <% } %>     
                  
                </tbody>
              </table>
              <% if (inventoryOrder[0].statusId==1) { %>
              <div class="add-product">
                
                
                  <form action="/warehouse/inventory-orders/products" method="POST" class="add-product-form">
                    <h2>Agregar Producto</h2>
                  <div class="form-field-group">
                  <label for="name">Orden</label>
                  <input type="number" name="order" id="order" value="<%= order %>" class="fill-input" min="1" value="15" step="1" disabled>
                  <input type="hidden" name="order" id="order" value="<%= order %>" class="fill-input" min="1" value="15" step="1" >
                  </div>
                  <div class="form-field-group">
                  <label for="name">Producto 
                  </label>
                  <select name="product" id="products">
                 
                  </select>
                  </div>

                  <div class="form-field-group">
                  <label for="name">Cantidad 
                  </label>
                  <input type="number" name="quantity" id="quantity" class="fill-input" min="1" value="15"
                  step="1" required>
                  </div>
                  <button class="btn2 float-right" type="submit">Agregar</button>





                  </form>
              </div>
            </div>   
              <% } %> 
            </section>
            <% }  %>   
        
           
    </main>

    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>

