<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/customers/stylesreservations.css">
<link rel="stylesheet" href="/css/customers/mqsstylesreservations.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>

        <h1>Cancelar Reserva</h1>

        <% if(reservationData) { %>


        <form action="/reservations/cancel" class="common-form" method="POST">
            <p>Tiene una reserva para el día <strong><%= reservationData.reservationDate %></strong> a las
                <strong><%= reservationData.reservationTime %></strong> para
                <strong><%= reservationData.party %></strong> personas. ¿Está seguro que desea cancelarla?</p>

            <!--Se envia el ID de usuario como campo invisible para identificar la reserva-->
            <input type="hidden" name="userId" id="userId" value="<%= userId %>">
            
            <!--El parametro _method lleva el valor del metodo HTTP correcto. El paquete method-override lo maneja luego-->
            <input type="hidden" name="_method" id="_method" value="delete">

            <button class="main-button" type="submit">Cancelar Reserva</button>
        </form>

        <% } else { %>
        <h4 class="error-message">NO TIENE NINGUNA RESERVA AGENDADA</h4>
        <a class="main-button" href="/reservations/new">Crear Reserva</a>
        <% } %>
    </main>

    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>