<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/customers/stylesselection-menus.css">
</head>

<body>

    <%- include('../includes/navigation.ejs') %>
    <main>

        <h1>Insumos</h1>
        <% if (successMessage) { %>
        <p class="success-message"><%= successMessage %></p>
        <% } %>
        <div class="selection-section">
            <a class="main-button selection-button" href="/warehouse/products/list">Reponer Insumos</a> 
            <a class="main-button selection-button" href="/warehouse/inventory-orders/new">Crear Solicitud de Insumos</a>        
            <a class="main-button selection-button" href="/warehouse/inventory-orders/<%= userId %>">Ver Solicitudes</a>        
           
        </div>

    </main>

    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>
    