<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/finance/stylesincome.css">
<link rel="stylesheet" href="/css/finance/mqsstylesincome.css">
</head>

<body>

    <%- include('../includes/navigation.ejs') %>
   <main>
    <h1>Obtener Reporte de Ingresos</h1>
    <section class="income-form">
        <div class="income-report">
       
        <h3>Selecciona un mes para obtener el ingreso diario y mensual</h3>
        <form action="/finance/income/report" method="GET">
            <div class="input-group">
            <label for="">Fecha</label>
            <select name="date" id="date">
                <% for (var date of incomeDates) { %>
                    <option value="<%= date.incomeDate %>"><%= date.incomeDate %></option> 
                    <% } %>
            </select>
         </div>
             <button class="main-button">Descargar Reporte</button>
        </form>
     </div>
    </section>
 
</main>

  

    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>