<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/customers/stylesreservations.css">
<link rel="stylesheet" href="/css/customers/mqsstylesreservations.css">
</head>

<body>

    <%- include('../includes/navigation.ejs') %>
    <main>

        <h1 style="margin-top:50px">Crear Orden </h1>
       
        <p>El primer paso para crear tu orden es definir un motivo </p> 

        <form action="/warehouse/inventory-orders" class="common-form" method="POST">

            <!--Si hay ERRORES se muestra esto-->
            <% if (errorMessage) { %>
            <p class="error-message">ERROR: <%= errorMessage %></p>
            <% } %>
            <h3 style="text-align: center; font-weight:normal; padding-top:5px; padding-bottom: 10px;">Motivo</h3>
                
                <textarea name="description" id="description" rows="10"  class="textinput" required></textarea>
                             

           

            <!--Se envia el ID de usuario como campo invisible para identificar la reserva-->
            <input type="hidden" name="userId" id="userId" value="<%= userId %>">

            <button class="main-button" type="submit">Crear Orden de Inventario</button>
        </form>

    </main>

    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>